html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/

/*begin */
body {
  line-height: 1.5;
  margin: 8% 15%;
  background: #fff;
	height: 100%;
}

img {max-width: 100%;}
#prevarr polyline, #nextarr polyline {stroke: #f3a;}

/*typography*/

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
	background-color: white;
	padding: 140px 120px;
}

figure {
	margin-top: 40px;
	margin-left: -120px;
	margin-right: -120px;
	margin-bottom: 50px;
}

figure img { width: 100%;}

/*h1 {font-family: 'Nova Cut', monospace;}*/
/*h3 {font-family: 'Nova Cut', cursive;}*/
/*.doctitle {font-family: 'VT323', monospace;}*/

p {
	font-family: 'Noticia Text', serif;
	line-height: 1.8;
	color: #333;
	margin-bottom: 1em;
	font-size: 17px;
}

em { font-style: italic; }
strong { font-weight: 700, bold; }
.majuscule {letter-spacing: 1px;}

h1,h2,h3,h4,h5,h6 {
	color: #333; text-transform: none;
	font-family: 'Crimson Text', serif;
	letter-spacing: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 32px;
	/*color: rebeccapurple;*/
}
h2 {
	font-size: 28px;
	/*color: mediumvioletred;*/
	margin-top: 100px;
}
h3 {
	font-size: 24px;
	/*color: lightseagreen;*/
	margin-top: -0.5em;
	margin-bottom: 4em;
	font-style: italic;
}

h3 a {
	color: inherit;
}

figcaption {
	font-family: 'Noticia Text', serif;
	font-style: italic;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 3em;
}

a {color:#f3b;}

hr {
    height: 1px;
    background: mediumpurple;
    font-size: 0;
    border: 0;
		margin: 60px 0;
}

.important {
  font-size: 40px;
  font-family: 'Rubik Mono One', sans-serif;
}

ol {
	list-style-type: decimal;
}

ol li {
	padding-left: 0.3em;
	font-family: 'Crimson Text', serif;
	font-size: 17px;
}

ul {
	list-style-type: disc;
}

ul li {margin-left: 20px;}

ul li p {
	margin: 0;
}

ul li:last-child {
	margin-bottom: 1em;
}

/*divs*/
#prev {
  position:fixed;
  left:0;
  width: 10%;
  height: 100%;
  z-index: 100;
}

#next {
  position: fixed;
  right: 0;
  width: 10%;
  height: 100%;
  z-index: 100;
}

#prevarr {
  position:fixed;
  left:0;
  top: 45%;
  width: 100px;
  text-align: right;
  z-index: 100;
}
#nextarr {
  position: fixed;
  right: 0;
  top: 45%;
  width: 100px;
  text-align: left;
  z-index: 100;
}

.emptyspan {
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 0;
}

svg {
  padding: 20px 10px;
}

#prevarr:hover polyline,
#prevarr:focus polyline,
#nextarr:hover polyline,
#nextarr:focus polyline {
  stroke-width: 5;
}

#prevarr:active polyline,
#nextarr:active polyline {
  stroke-width: 9;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

#nav {
	bottom: 40px;
	width: 100%;
	z-index: 200;
	/*overflow: hidden;*/
	white-space: nowrap;
	text-align: center;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	/*height: 200px;*/
}

#dzmark {
	position: fixed;
	width: 25px;
	height: 45px;
	z-index: 190;
	bottom: 30px;
	left: 30px;
}

#dzmark img {
	z-index: 10;
	width: 25px;
}

#credit {
	z-index: 590;
	position: fixed;
	bottom: 20px;
	right: 60px;
	margin: 0;
	padding: 0;
	text-align: right;
}

#credit p {
	text-transform: uppercase;
	font-family: monospace;
	letter-spacing: 3px;
	font-size: 14px;
	color: #666;
}

#credit a {border-bottom: 1px solid; color: inherit;}

ul#navdots {
	display: inline-block;
	box-sizing: border-box;
}

#navdots li {
	width: 25px;
	height: 0;
	margin: -2px;padding:0;
	list-style-type: circle;
	display: inline-block;
	border: 1px solid;
	border-color: rgba(255, 0, 0, 0.2);
	/*border-radius: 100%;*/
	/*margin: 30px 10px;*/

}

#navdots a {padding: 30px 0;}

#navdots li p {
	color: #a00;
	display: none;
	position: fixed;
	font-family: monospace;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

#navdots a:hover p {
	display: inherit;
	/*text-align: center;*/
	/*position: absolute;*/
	left: 50%;
	transform: translate(-50%, -3.5em);
	/*text-align: center;*/
}
